*~
*-swp
moc_*.cpp
depend
wired2/wired
wired2-qt3/wired
bin
*.o
*.a
*.kdev4
build
.cproject
.project
.settings/

util/cdbtools/cdbadd
util/cdbtools/cdbget
util/cdbtools/cdbrm

process3/bsp/stripbsp
process3/bsp/bsp2
process3/pvs_through/pvs_through
process3/w2p/w2p2
process3/shape/cface2shape
process3/shape/sface2shape
process3/shape/csurf2shape
process3/mapnode/mapnode2
process3/mapnode/mapnode
process3/mapnode/fieldnode
process3/mapnode/blockmap
process3/light/poly/epoly
process3/light/poly/polymerge
process3/light/poly/matlookup
process3/csg/csg2
process3/csg/surfmerge
process3/portal/gather
process3/portal/leafflood2
process3/portal/leafflood
process3/portal/portal2
process3/portal/brshclassify
process3/portal/visleaf
process3/portal/brshmrg
process3/portal/gather2
process3/portal/visleaf2
process3/portal/mkpc
process3/fface/fface3
process3/fface/fface2
process3/meshtiles/vertex_bsp
process3/meshtiles/face_link
process3/meshtiles/tridrop_bsp
process3/meshtiles/vsc2class
process3/meshtiles/meshtile1
process3/meshtiles/vsc2c
process3/class/class_copy
process3/class/class_split
process3/class/class_new
process3/class/class_alter
process3/light/shapelight/shapelight
process3/tjfix/shape/shapetjfix

